<div class = "d-flex create-art-container">

  <div class= "instructions-write">
    <h2>Update Your Article</h2>
    <h3>You didn't like your article? </h3>
    <ul>
      <li>Give it a new Title</li> 
      <li>Modify parts of the text that you don't like</li> 
      <li>Update or add a fitting pic</li> 
      <li>And select the new category or keep the same</li>
      <li>Click on 'Create Article' and you're done!</li>
    </ul>
  </div>
  <%= render "article_form"%>
</div>