<div class = "d-flex create-art-container">

  <div class= "instructions-write">
    <h2>Write Your Article</h2>
    <h3>Go ahead and start writing a really cool article</h3>
    <ul>
      <li>Give it a Title</li> 
      <li>Write about what you want</li> 
      <li>Add a fitting pic</li> 
      <li>And select the category</li>
      <li>Click on 'Create Article' and you're done!</li>
    </ul>
  </div>
  <%= render "article_form"%>
</div>