  <div class = "instructions-register">
  <h2>Create your account</h2>
  <h3>Start writing your own articles and voting!<h3>
  <p>You only need a username to register</p>
</div>
  <%= render "sign_in"%>

