<div class= "centered-container">
  <h2 class= "user-title">
    <%= @user.name %>   User page
    <%= user? %>
  </h2>
</div>
<h2 class= "articles-cat-title chivo-bold mb-20">Your Articles</h2>
<%=show_articles(@articles)%>
