/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@font-face {
  font-family: 'CartoGothic Std Book';
  font-style: normal;
  font-weight: normal;
  src: local('CartoGothic Std Book'), url('/assets/CartoGothicStd-Book.woff') format('woff');
  }
  
  @font-face {
  font-family: 'CartoGothic Std Bold';
  font-style: normal;
  font-weight: normal;
  src: local('CartoGothic Std Bold'), url('/assets/CartoGothicStd-Bold.woff') format('woff');
  }
  
  @font-face {
    font-family: 'chivobold';
    src: url('/assets/chivo-bold-webfont.woff2') format('woff2'),
         url('/assets/chivo-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'chivoregular';
    src: url('/assets/chivo-regular-webfont.woff2') format('woff2'),
         url('/assets/chivo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

 /* CSS RESET */

 /* Box sizing rules */


*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'CartoGothic Std Book','open-sans',sans-serif;
  background-color: #4e443e;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* colors */

:root {
  --nav-bg-color: #fff; 
  --nav-links-color: #b8b6b2;
  --highlight-color: #fa6000;
  --text-color: #f0ebeb;
  --text-color-dark: #4d443e;
}

/* fonts */

.lato-font {
  font-family: 'Lato', sans-serif;
}

.cartogothic-font {
  font-family: "CartoGothic Std Book"
}

.font-s-2{
  font-size: 2em!important;
}

.font-s-1-2 {
  font-size: 1.2em!important;
}

/* display */

.d-flex {
  display: flex !important;
}

.row-reverse {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.j-content-center {
  justify-content: center;
}

.a-items-center {
  align-items: center;
}

.j-content-between {
  justify-content: space-between;
}

.j-content-evenly {
  justify-content: space-evenly;
}

.j-content-around {
  justify-content: space-around;
}

.j-content-end {
  justify-content: flex-end;
}

.m-lr-20 {
  margin: 0 20px;
}

.mb-20 {
  margin-bottom: 20px!important;
}

/* navigation */

nav {
  background-color: var(--nav-bg-color);
  font-size: 0.9em;
  text-transform: uppercase;
  -webkit-box-shadow: inset 0px -14px 16px -20px rgba(0,0,0,0.5);
-moz-box-shadow: inset 0px -14px 16px -20px rgba(0,0,0,0.5);
box-shadow: inset 0px -14px 16px -20px rgba(0,0,0,0.5);
}

.nav-container {
  padding: 20px 0;
}

.nav-home {
  flex-grow: 6;
  align-self: center;
}

.nav-links {
  text-decoration: none;
  color: var(--nav-links-color);
}

/* Main section */

main {
flex: 1 0 auto;
}

main,
.nav-right,
.categories-container,
.articles-container,
.instructions-write,
.create-art-container,
.instructions-register,
.instructions-login,
.full-article-image {
  flex-grow: 1;
}

.featured-article-title,
.cat-article h3,
.article-content p {
  padding: 10px 20px;
}

.featured-article-title {
  font-family: "chivobold", serif;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 400;
  color: var(--highlight-color);
}

.featured-article {
  width: 100%;
  color: var(--text-color);
  position: relative;
  flex-grow: 3;
}

.featured-article::before,
.cat-article::before,
.instructions-write::before,
.instructions-register::before,
.instructions-login::before,
.full-article-image::before {
  content: "";
  background: linear-gradient(180deg, rgba(0,0,0,0.35056029247636555) 9%, rgba(255,255,255,0.0536415249693627) 50%, rgba(0,0,0,0.35056029247636555) 84%);
  width: 100%;
  height: 100%;
  position: absolute;
}

.article-content {
  background-color:rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.categories-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.cat-article {
  width: 100%;
  height: 100%;
  position: relative;
}

.user-title,
.cat-article h3 {
  color: var(--text-color);
  font-family: "chivobold", serif;
  font-weight: 400;
  z-index: 1;
}

.notice-messages {
  text-align: center;
  color: var(--highlight-color);
  font-size: 1.3em;
}

#error_explanation{
  display: flex;
  width: 100%;
  color: var(--text-color);
}
.centered-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cat-link {
  text-decoration: underline;
  text-decoration-color: var(--highlight-color);
  text-decoration-thickness: 3px;
  z-index: 1;
}

.articles-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
}

.article-image {
  width: 100%;
}

.article-preview {
  margin-top: 0;
  width: 100%;
  background-color: var(--text-color);
  display: grid;
}


.articles-cat-title {
  color:var(--highlight-color);
  border-bottom: 3px solid var(--highlight-color);
  width: max-content;
  height: max-content;
  font-family: "chivobold",serif;
  font-weight: 400;
}

.articles-auto-width {
  width: auto;
}

.article-title {
  color: var(--text-color-dark);
  font-family: "chivoregular", serif;
  text-decoration: none;
  font-weight: 400;
}

.articles-cat-title,
.article-title,
.article-author,
.article-vote,
.article-summary {
  margin: 10px 10px 0 10px;
}

.article-text {
  padding: 20px 150px;
  text-align: center;
  color: var(--text-color-dark);
}

.full-article-image {
  width: 100%;
  position: relative;
}

.field_with_errors { 
  display: inline 
}

.article-vote {
  color: var(--highlight-color);
  text-decoration: none;
  font-size: 1.5em;
}

label {
  color: var(--highlight-color);
  font-family: "chivoregular";
  padding: 5px;
}

form {
  padding: 10px;
  flex-grow: 1;
}

input[type="submit"] {
  margin-top: 50px;
}

.instructions-write {
  background: no-repeat center/cover url('write.jpg');
  position: relative;
}

.instructions-register {
  background: no-repeat center/cover url('ballpen.jpg');
  position: relative;
}

.instructions-login {
  background: no-repeat center/cover url('welcome.jpg');
  position: relative;
}

.instructions-write::after,
.instructions-register::after,
.instructions-login::after {
  content: "";
  background-color: black;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.instructions-write h2,
.instructions-write h3,
.instructions-register h2,
.instructions-register h3,
.instructions-login h2,
.instructions-login h3,
.instructions-write ul {
  padding: 10px;
  z-index: 1;
  position: relative;
}

.instructions-write h2,
.instructions-register h2,
.instructions-login h2 {
  color: var(--highlight-color);
  font-family: "chivobold", serif;
  font-weight: 400;
  border-bottom: 3px solid var(--highlight-color);
  width: max-content;
}
.instructions-write ul,
.instructions-write h3,
.instructions-register h3,
.instructions-login h3,
.instructions-register p {
  color: var(--text-color);
}

.instructions-write ul {
  list-style: none;
  font-size: 1.2em;
  margin-top: 60px;
}

.social-icon { 
  color: var(--highlight-color);
  font-size: 1.6em;
  margin-left: 10px;
}

footer {
  flex-shrink: 0;
  -webkit-box-shadow: inset 0px 4px 5px -4px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 4px 5px -4px rgba(0,0,0,0.75);
box-shadow: inset 0px 4px 5px -4px rgba(0,0,0,0.75);
padding: 20px 20px
}

footer p {
  color: var(--text-color);
}