// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.featured-article-title,
.cat-article h3,
.article-content p {
  padding: 10px 20px;
}

.featured-art-text {
  padding-left: 10px;
}

.featured-article-title {
  text-decoration: none;
  font-size: 1.5em;
  color: var(--highlight-color);
}

.featured-article {
  width: 100%;
  color: var(--text-color);
  position: relative;
  flex-grow: 3;
}

.articles-cat-title,
.article-title,
.article-author,
.article-vote,
.article-summary {
  margin: 10px 10px 0 10px;
}

.articles-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.article-image {
  width: 100%;
}

.articles-cat-title {
  color: var(--highlight-color);
  border-bottom: 3px solid var(--highlight-color);
  width: max-content;
  height: max-content;
}

.articles-auto-width {
  width: auto;
}

.article-title {
  color: var(--text-color-dark);
  text-decoration: none;
}

.article-text {
  padding: 20px 150px;
  text-align: center;
  color: var(--text-color-dark);
}

.featured-article::before,
.cat-article::before,
.instructions-write::before,
.instructions-register::before,
.instructions-login::before,
.full-article-image::before {
  content: "";
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.35056029247636555) 9%, rgba(255, 255, 255, 0.0536415249693627) 50%, rgba(0, 0, 0, 0.35056029247636555) 84%);
  width: 100%;
  height: 100%;
  position: absolute;
}

.article-content {
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.article-vote {
  color: var(--highlight-color);
  text-decoration: none;
  font-size: 1.5em;
}

.instructions-write {
  background: no-repeat center/cover url('write.jpg');
  position: relative;
}

.instructions-write h2 {
  color: var(--highlight-color);
  font-family: 'Chivo', sans-serif;
  font-weight: 700;
  border-bottom: 3px solid var(--highlight-color);
  width: max-content;
}

.instructions-write ul,
.instructions-write h3 {
  color: var(--text-color);
}

.instructions-write ul {
  list-style: none;
  font-size: 1.2em;
  margin-top: 60px;
}

.instructions-write h2,
.instructions-write h3,
.instructions-write ul {
  padding: 10px;
  z-index: 1;
  position: relative;
}

.instructions-write::after {
  content: "";
  background-color: black;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

label {
  color: var(--highlight-color);
  font-family: 'Chivo', sans-serif;
  padding: 5px;
}

form {
  padding: 10px;
  flex-grow: 1;
}

input[type="submit"] {
  margin-top: 50px;
}
